PEW & PEW/.vs/
PEW & PEW/Refactoring/x64/Debug/Client.pch
PEW & PEW/Refactoring/x64/Release/Client.pch
PEW & PEW/Engine/x64/Release/Engine.pch
PEW & PEW/Engine/x64/Debug/Engine.pch


*.obj
*.log
*.tlog
*.lastbuildstate
*.pdb
*.recipe
*.ilk
*.ipdb
*.idb
PEW & PEW/x64/Debug/
PEW & PEW/Output/Engine.lib
PEW & PEW/Refactoring/x64/Release/Client.iobj
PEW & PEW/x64/Release/Client.exe

*.ipch