PEW & PEW/.vs/
PEW & PEW/Refactoring/x64/Debug/Client.pch
PEW & PEW/Refactoring/x64/Release/Client.pch
PEW & PEW/Engine/x64/Release/Engine.pch
PEW & PEW/Engine/x64/Debug/Engine.pch


*.obj
*.log
*.tlog
*.lastbuildstate
*.pdb
*.recipe
*.ilk
*.ipdb
*.idb
PEW & PEW/x64/Debug/
PEW & PEW/Output/Engine.lib
PEW & PEW/Refactoring/x64/Release/Client.iobj
PEW & PEW/Refactoring/x64/Release/Client.Build.CppClean.log
PEW & PEW/Refactoring/x64/Release/Refactoring.vcxproj.FileListAbsolute.txt
PEW & PEW/Refactoring/x64/Release/Client.tlog/link.command.1.tlog
PEW & PEW/x64/Release/Client.exe

*.ipch

PEW & PEW Server/.vs/
/PEW & PEW Server/x64/Debug
PEW & PEW Server/Binary/Debug/Pew&Pew Server.exe
PEW & PEW Server/Libraries/Debug/Pew&Pew ServerCore.lib
PEW & PEW Server/PEW & PEW Server/x64/Debug/Pew&Pew Server.pch
PEW & PEW Server/PEW & PEW ServerCore/x64/Debug/Pew&Pew ServerCore.pch
PEW & PEW Server/PEW & PEW Server/x64/Release/Pew&Pew Server.iobj
PEW & PEW Server/PEW & PEW Server/x64/Release/Pew&Pew Server.pch
PEW & PEW Server/PEW & PEW ServerCore/x64/Release/Pew&Pew ServerCore.pch
PEW & PEW Server/Libraries/Release/Pew&Pew ServerCore.lib
PEW & PEW Server/Binary/Release/
